<!-- FOOTER -->
<div style="width: 100vw;" class="bg-dark text-bg-dark ">
    <footer class="py-5 px-3">
        <div class="row">
            <div class="col-6 col-md-5 mb-3 text-wrap">
                <h5>Contact</h5>
                <ul class="nav flex-column ">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">
                            Call/Whatsapp</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">
                            +23481516576943</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-3 mb-3">
                <h5>Support</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/en/overview" class="nav-link p-0 text-light">Overview</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Shipping &
                            Delivery</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Returns &
                            Exchange</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Perfect Fit Guide</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Accessibility</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-3 mb-3">
                <h5>About</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Store Experience</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Our story</a></li>
                </ul>
            </div>


        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; 2025 Company, Inc. All rights reserved.</p>
        </div>
    </footer>
</div>