<div class="bg-light">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="#">
                DAVIDCY360
            </a>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                            aria-expanded="false">SUITS</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="#">Coat</a></li>
                            <li><a class="dropdown-item" href="#">Coporate/Business</a></li>
                            <li><a class="dropdown-item" href="#">Dinner</a></li>
                            <li><a class="dropdown-item" href="#">Graduation</a></li>
                            <li><a class="dropdown-item" href="#">Party</a></li>
                            <li><a class="dropdown-item" href="#">Prom</a></li>
                            <li><a class="dropdown-item" href="#">Wedding</a></li>
                            <li><a class="dropdown-item" href="#">Groomsmen</a></li>
                            <li><a class="dropdown-item" href="#">See All SUITS </a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                            aria-expanded="false">NATIVES</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="#">Agbada</a></li>
                            <li><a class="dropdown-item" href="#">Aso Oke - Agbada</a></li>
                            <li><a class="dropdown-item" href="#">Dashiki</a></li>
                            <li><a class="dropdown-item" href="#">Kaftan</a></li>
                            <li><a class="dropdown-item" href="#">See All Natives</a></li>
                            <li><a class="dropdown-item" href="#">See All NATIVES </a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                            aria-expanded="false">SHIRTS</a>

                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="#">Casual Shirts</a></li>
                            <li><a class="dropdown-item" href="#">Dress Shirt</a></li>
                            <li><a class="dropdown-item" href="#">Denim Shirts</a></li>
                            <li><a class="dropdown-item" href="#">Evening Shirts</a></li>
                            <li><a class="dropdown-item" href="#">Polo Shirts</a></li>
                            <li><a class="dropdown-item" href="#">T-shirt & Sweatshirt</a></li>
                            <li><a class="dropdown-item" href="#">Leather</a></li>
                            <li><a class="dropdown-item" href="#">See All Shirts</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                            aria-expanded="false">PANTS</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="#">Ceremonial</a></li>
                            <li><a class="dropdown-item" href="#">Combat</a></li>
                            <li><a class="dropdown-item" href="#">Draw String</a></li>
                            <li><a class="dropdown-item" href="#">Denim</a></li>
                            <li><a class="dropdown-item" href="#">Gurkha</a></li>
                            <li><a class="dropdown-item" href="#">Joggers</a></li>
                            <li><a class="dropdown-item" href="#">Tuxedo</a></li>
                        </ul>
                    </li>
                </ul>
            </div>




            <a class="navbar-brand">
                <div class="d-flex flex-row">
                    <div class="me-4" style="cursor: pointer;">
                        <img src="/assets/icons/shopping-cart.png" alt="profile" width="25px">

                        <span class="badge bg-light text-dark rounded-pill align-text-bottom">0</span>
                    </div>

                    <div class="mx-0" onclick="openUserPage()" style="cursor: pointer;">
                        <img src=" /assets/icons/user.png" alt="search-icon" width="25px">
                    </div>
                </div>
            </a>

        </div>
    </nav>

    <div class="nav-scroller bg-body shadow-sm px-3">
        <nav class="nav nav-underline" aria-label="Secondary navigation">
            <a class="nav-link" href="#">Accessibility</a>
            <a class="nav-link" href="#">Perferct Fit Guide</a>
            <a class="nav-link" href="#">Shipping & Delivery</a>
            <a class="nav-link" href="#">FAQs</a>
            <a class="nav-link" href="#">About</a>
        </nav>
    </div>
</div>