body {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerTitle {
    color: white;
    padding: 10px;
}

.containerText {
    background-color: transparent;
    position: relative;
    /* text-align: center; */
    color: white;
    cursor: pointer;
}

.containerText:focus {
    opacity: 0.4;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 20px;
}

.bottom-left-homepage-link {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.frontPageLinks {
    margin-bottom: 20%;
    margin-left: 15px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.homeImagediv {
    width: 100%;
    height: 100px;
}



.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.flex-item-left {
    flex: 50%;
}

.flex-item-left img:hover,
.flex-item-right img:hover {
    /* Styles to apply when the anchor containing the image receives focus */
    transform: scale(0.9);
    /* Scale the image up to 150% */
    outline: 2px solid transparent;
    /* Add a blue outline to indicate focus */
    transition: transform 0.3s ease;
    /* Smooth transition for the transform */
    border-radius: 8px;
    opacity: 0.8;
}


.flex-item-right {
    flex: 50%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media screen and (max-width: 800px) {

    .flex-item-right,
    .flex-item-left {
        flex: 100%;
        height: 100vh;
    }

    .home-page-links {
        cursor: pointer;
        font-size: 30px;
    }

}


#front-page-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

@media screen and (max-width: 1100px) {
    #front-page-image {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}

/* @media screen and (min-width: 1100px) {
    #front-page-image {
        height: 100vh;
        object-fit: cover;
    }
} */

.featured-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.f-r-content {
    width: 200px;
    margin: 15px;
    margin-top: 30px;
    background-color: #d4ecf523;
    padding: 3px;
    border-radius: 12px;
}

@media screen and (max-width: 1100px) {
    .f-r-content {
        width: 200px;
        margin: 0 15px;
        margin-top: 30px;
        background-color: #d4ecf523;
        padding: 3px;
        border-radius: 12px;
    }
}

.f-r-body-1 {
    font-size: small;
    margin: 5px 0;
}

.f-r-body-2-1 {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.f-r-header {
    margin: 10px auto;
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
}


.bg-image-props {
    position: absolute;

}

@media screen and (min-width: 800px) {

    .home-page-links {
        cursor: pointer;
        font-size: 35px;
    }
}




.home-page-links:hover {
    opacity: 0.8;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}





.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}



html,
body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}

body {
    padding-top: 56px;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px;
        /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.bg-purple {
    background-color: #6f42c1;
}