<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edith Profile Page</title>
    <link rel="stylesheet" href="/css/index.css">
    <!-- Bootsrap 5 Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


    {{!-- header --}}
    {{> header}}


    <div class="container col-xl-10 col-xxl-8 px-4 py-2">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-md-10 mx-auto col-lg-7">
                <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary" autocomplete="none">
                    <div class="mb-4 fs-4 text-center">Profile</div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingFirstName" placeholder="First Name">
                        <label for="floatingFirstName">First Name</label>
                    </div>
                    {{!-- <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingMiddleName"
                            placeholder="Middle Name (optional)">
                        <label for="floatingMiddleName">Middle Name</label>
                    </div> --}}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingLastName" placeholder="Last Name" value=" ">
                        <label for="floatingLastName">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingEmail" placeholder="Last Name"
                            autocomplete="off" autocomplete="one-time-code" autocomplete="do-not-autofill"
                            autocomplete="chrome-off" autocomplete="no" autocomplete="none" disabled>
                        <label for="floatingLastName">Email</label>
                    </div> <br>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="password" placeholder="Default input" id="floatingPassword"
                            aria-label="default input example" autocomplete="off" autocomplete="one-time-code"
                            autocomplete="do-not-autofill" autocomplete="chrome-off" autocomplete="no" value="">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
                </div>
            </div>
        </div>
    </div>


    <!-- FOOTER -->
    {{>footer}}

</body>

<!-- Bootsrap 5 Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/edithProfile.js"></script>
<script src="/js/index.js"></script>

</html>